doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= "Bullets Demo"
  body
    h1 Bullets Example
    section#ordered-hierarchical-list
      header
        h2 Ordered Hierarchical List
      include:markdown snippets/ordered-hierarchical-list.md
    section#unordered-hierarchical-list
      header
        h2 Unordered Hierarchical List
      include:markdown snippets/unordered-hierarchical-list.md
    section#simple-content
      header
        h2 Simple Content
      include:markdown snippets/simple-content.md
    section#complex-hierarchical-content
      header
        h2 Complex Hierarchical Content
      include:markdown snippets/complex-hierarchical-content.md
    section#header-link-and-nested-list
      header
        h2 Header Link and Nested List
      include:markdown snippets/header-link-and-nested-list.md
