body {
	font-family: "Menlo", monospace;
}
.collapse {
/* 	TODO: The collapsed element should show ellipses */
	background-color: #fdf1f1;
}
.collapse * {
/* 	display: none; */
	background-color: #ebebfc;	
}

h5.collapse ~ *:not(h5):not(h1) {
	background-color: #ebebfc;
}